.testemonials{
   
    @include lg{
       display: grid;
       grid-template-columns: 1fr;
       margin: 0rem;
        
    }
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    margin-top: 4rem;

    .test1{

       padding: 5rem;
       #s{
        font-size: 0.9rem;
    font-weight: bold;
    color:#333;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
    font-family: $font;
       }
        span{
    font-size: 1rem;
    font-weight: bold;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
    font-family: $font;
        }
        h1{
            @include xl{
                font-size: 2rem;
            }
            font-size: 3.3rem;
    line-height: 1.2;
    margin-bottom: 6.6rem;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .test11{
            @include sm{
                grid-template-columns: 1fr;
            }
            .rec{
                p{
                    font-size: 1.3rem;
                    line-height: 1.4rem;
                    margin-bottom: 1.6rem;
                    color: rgb(85, 84, 84);
                    font-family: $font;
                    font-weight: 400;
                    @include xl{
                        font-size: 1.1rem;
                    }
                }
                img{
                    border-radius: 50%;
                    width: 6.4rem;
    
    margin-bottom: 1.2rem;
                }
            }
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 4.8rem;
            column-gap: 5rem;
           
        }
    }
    .test2{
        
    .galery{
       
        @include lg{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
        padding: 1.6rem;
        
        @include sm{
            grid-template-columns: repeat(4, 1fr);

        }
        
       
        img{
            width: 100%;
            transition: transform 2s;
            
           
           
            &:hover{
               transform: scale(1.2);
             
            }
        }
    }
}
}